/* Reset CSS */
* {
  /* Emmet CSS */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
}

/* 
1. Vị trí
2. Kích thước (Chiều rộng , chiều cao)
3. Màu sắc
4. Kiểu dáng (Kiểu chữ , hình tròn , hình vuông , ...)
*/

/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Từ tổng quan đến chi tiết
*/

#main {
}

/* Header */
#header {
  height: 46px;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

/*  Navigation */
#nav {
  display: inline-block;
}

#nav,
.sub-nav {
  list-style-type: none;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: inline-block;
}

#nav li:hover .sub-nav {
  display: block;
}

#nav > li:hover > a,
#nav .sub-nav li:hover {
  color: #000;
  background-color: #ccc;
}

#nav .sub-nav {
  min-width: 160px;
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  left: 0;
  top: 100%;
}

#nav .sub-nav a {
  color: #000;
  padding: 0 12px;
  line-height: 38px;
}

#nav .nav-arrow-down {
  font-size: 14px;
}

/* Search Button */
#header .search-btn {
  float: right;
  padding: 0 21px;
}

#header .search-btn:hover {
  background-color: #f44336;
  cursor: pointer;
}

#header .search-icon {
  color: #fff;
  font-size: 20px;
  line-height: 46px;
}

#slider {
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
  background: url("/assets/img/nature-image-for-website.jpg") top center / cover
    no-repeat;
}

#slider .text-content {
  position: absolute;
  bottom: 47px;
  color: #fff;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
#slider .text-heading {
}
#slider .text-descripton {
}

#content {
}

#footer {
}
